<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main_menu">
  <%= link_to _("Chats"), chatty.chats_path %>
  <% if signed_in? %>
    <%= link_to _("Log out"), destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to _("Log in"), new_user_session_path %>
  <% end %>
</div>

<%= yield %>

</body>
</html>
