<h1>Listing chats</h1>

<table>
  <thead>
    <tr>
      <th>User type</th>
      <th>User</th>
      <th>Resource type</th>
      <th>Resource</th>
      <th>Handled</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chats.each do |chat| %>
      <tr>
        <td><%= chat.user_type %></td>
        <td><%= chat.user_id %></td>
        <td><%= chat.resource_type %></td>
        <td><%= chat.resource_id %></td>
        <td><%= chat.handled %></td>
        <td><%= link_to 'Show', chat %></td>
        <td><%= link_to 'Edit', edit_chat_path(chat) %></td>
        <td><%= link_to 'Destroy', chat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chat', new_chat_path %>
