<p id="notice"><%= notice %></p>

<p>
  <strong>User type:</strong>
  <%= @chat.user_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @chat.user_id %>
</p>

<p>
  <strong>Resource type:</strong>
  <%= @chat.resource_type %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @chat.resource_id %>
</p>

<p>
  <strong>Handled:</strong>
  <%= @chat.handled %>
</p>

<%= link_to 'Edit', edit_chat_path(@chat) %> |
<%= link_to 'Back', chats_path %>
